<!DOCTYPE html>

<html>

<header> 

   
</header>

<head>
    <link rel="stylesheet" href="/css/styles.css"> 

<body>

       {{>header}}
    <h2>this page is about killing youself</h2>
    <p>created by {{name}}</p>

</body>
</head>
</html>