<!DOCTYPE html>

<html>

<header> 

 
</header>

<head>
    <link rel="stylesheet" href="/css/styles.css"> 

<body>
       
        {{>header}}
    <h1>{{ help }}</h1>
    <img src="/img/robot.png" />
    <p> this is a major help by {{name}}</p>
    


</body>
</head>
</html>