<!DOCTYPE html>

<html>

<header> 

    
</header>

<head>
    <link rel="stylesheet" href="/css/styles.css"> 
<body>
    <div>
        {{>header}}
        <img src="/img/robot.png" />
        <p>use this site to be your weathere</p>

        <form>
            <input placeholder="Location">
            <button>search</button>
        </form>
        
        
        <p id="message-1"></p>
        <p id="message-2"></p>


    </div>
    
    
    
    <p>created by {{name}}</p>




<script src="/js/app.js"></script> 
</body>
</head>
</html> 